- how to create dictionary
- how to acccess pairs in dictionary
- how to run a loop in dictionary
- how to make a nested dictionary
- indexing in dictionary

In [1]:
student = {
     "name": "Alice",
    "age": 20,
    "cource": "B.tech",
    "marks": 87
}
print(student)

{'name': 'Alice', 'age': 20, 'cource': 'B.tech', 'marks': 87}

In [2]:
info = dict(name = "Alice" , age = "20" , cource = "B.tech" , marks = 87)
print(info)

{'name': 'Alice', 'age': '20', 'cource': 'B.tech', 'marks': 87}

In [3]:
temp = {
    'Lucknow':[30,35,41],
    'Delhi': {35,40,45},
    'Chennai': [31,36,42],
}
print(temp)

{'Lucknow': [30, 35, 41], 'Delhi': {40, 35, 45}, 'Chennai': [31, 36, 42]}

### **Pair access** ###

In [4]:
#list methord to access value through key
info['name']
info['age']
#1 command at a time

'20'

In [5]:
#2 Methord
info.get('name')

'Alice'

In [6]:
#addind new key and value pair in the dictionary
info["city"] = 'lucknow'

In [7]:
print(info)

{'name': 'Alice', 'age': '20', 'cource': 'B.tech', 'marks': 87, 'city': 'lucknow'}

In [10]:
for i,j in student.items():
    print(f'{i} : {j}')

name : Alice
age : 20
cource : B.tech
marks : 87

In [11]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'cource', 'marks'])
dict_values(['Alice', 20, 'B.tech', 87])
dict_items([('name', 'Alice'), ('age', 20), ('cource', 'B.tech'), ('marks', 87)])

### **Nested Dictionary** ###

In [14]:
company = {
    'emp001' : {
        'name' : 'Alice',
        'dept': 'Finance',
        'salary' : 50000
    },
    'emp002' : {
        'name' : 'bob',
        'dept' : 'marketing',
        'salary' : 45000
    },
    'emp003' : {
        'name' : 'Smith',
        'dept' : 'IT',
        'salary' : 70000
    }
}
print(company)

{'emp001': {'name': 'Alice', 'dept': 'Finance', 'salary': 50000}, 'emp002': {'name': 'bob', 'dept': 'marketing', 'salary': 45000}, 'emp003': {'name': 'Smith', 'dept': 'IT', 'salary': 70000}}

In [15]:
from pprint import pprint

In [16]:
pprint(company)

{'emp001': {'dept': 'Finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'marketing', 'name': 'bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000}}

In [31]:
#adding key value in nested dictionary
company['emp004'] = {
        'name' : 'alex',
        'dept' : 'designer',
        'salary' : 65000
    }

In [30]:
pprint(company)

{'emp001': {'dept': 'Finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'marketing', 'name': 'bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000},
 'emp004': {'dept': 'designer', 'name': 'alex', 'salary': 65000}}

In [32]:
company['emp002']['dept']

'marketing'

In [40]:
#finding average temp of lucknow
print(sum(temp['Lucknow'])/len(temp['Lucknow']))

35.333333333333336